.favoriteCities__wrapper {
  ul {
    flex: 1 1 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    li {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-size: 16px;
      font-weight: 600;
      list-style: none;
      min-height: 46px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
}
