.citySearch__wrapper {
  .citySearch__input {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;

    input {
      border: 1px solid rgba(0, 0, 0, 0.33);
      border-radius: 0;
      box-sizing: border-box;
      font-size: 30px;
      height: 45px;
      margin: 0 auto;
      outline: 0;
      padding: 10px;
      width: 100%;
    }
  }

  .citySearch__results {
    ul {
      flex: 1 1 auto;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      li {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        list-style: none;
        min-height: 46px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
}
