.drawer__wrapper {
  background: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  bottom: 0;
  position: absolute;
  top: 0;
  transition: .2s ease-in-out;
  width: 260px;
  z-index: 1;

  .drawer__container {
    height: 100%;
    overflow: hidden;

    .drawer__container-header {
      align-items: center;
      display: flex;
      justify-content: space-around;
      min-height: 64px;
      padding: 0 8px;

      .drawer__container-header-title {
        font-size: 20px;
        font-weight: 600;
        user-select: none;
      }

      .drawer__container-header-close {
        cursor: pointer;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }

    .drawer__divider {
      background-color: rgba(0, 0, 0, 0.12);
      border: 0;
      flex-shrink: 0;
      height: 1px;
      margin: 0;
    }

    .drawer__container-content {
      overflow-y: auto;
      height: calc(100% - 65px);
    }
  }
}

.drawer__animation {
  animation-duration: .2s;

  &.open {
    animation-name: drawer__open;
  }

  &.close {
    animation-name: drawer__close;
  }
}

@keyframes drawer__open {
  0% {
    margin-left: -260px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes drawer__close {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -260px;
  }
}

