.menu__wrapper {
  display: flex;
  flex-direction: column;
  left: 30px;
  position: absolute;
  top: 30px;

  .fa {
    cursor: pointer;
    opacity: .5;
    margin-bottom: 15px;

    &:hover {
      opacity: 1;
    }
  }
}
