.city__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 46px;
  padding: 0 16px;
  width: 100%;

  .city__name {
    padding-right: 10px;

    .city__name-country {
      font-size: 12px;
    }
  }

  .city__icons {
    i {
      margin-right: 10px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .fa {
    opacity: .5;

    &:hover {
      opacity: 1;
    }

    &:active,
    &.active {
      color: #00B7EB;
    }
  }
}
