.weatherData__wrapper {
  .weatherData__row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }

    .weatherData__row-key {
      padding: 0 20px;
    }

    .weatherData__row-value {
      padding: 0 20px;
    }
  }

  .weatherData__loading {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50px;
    opacity: .5;
  }
}
