.coreLayout__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;

  .coreLayout__container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    position: relative;
  }
}
