.weatherNode__wrapper {
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,.12);
  color: rgba(0,0,0,0.8);
  cursor: pointer;
  display: flex;
  padding: 5px 10px;

  .weatherNode__temperature {
    border-right: 1px solid rgba(0,0,0,.12);
    font-size: 22px;
    font-weight: 600;
    margin-right: 5px;
    padding-right: 5px;
  }

  .weatherNode__city {
    font-size: 16px;
  }
}
