.modal__wrapper {

  .modal__mask {
    background-color: rgba(55,55,55,.6);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 900;
  }

  .modal__container {
    bottom: 0;
    left: 0;
    outline: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    .modal__container-inner {
      background: #ffffff;
      margin: 0 auto 100px;
      position: relative;
      top: 100px;
      width: auto;

      .modal__container-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: 64px;
        padding: 0 25px;

        .modal__container-header-title {
          font-size: 20px;
          font-weight: 600;
          user-select: none;
        }

        .modal__container-header-close {
          cursor: pointer;
          opacity: .5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .modal__divider {
      background-color: rgba(0, 0, 0, 0.12);
      border: 0;
      flex-shrink: 0;
      height: 1px;
      margin: 0;
    }

    .modal__container-content {
      padding: 25px;
    }
  }
}

.drawer__animation {
  animation-duration: .2s;

  &.open {
    animation-name: drawer__open;
  }

  &.close {
    animation-name: drawer__close;
  }
}

@keyframes drawer__open {
  0% {
    margin-left: -260px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes drawer__close {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -260px;
  }
}

